.main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  flex: 1;
}

.input {
  padding: 8px;
  font-size: 20px;

  outline: 0;
  border: 0;

  border-radius: 12px;

  transition-duration: 0.3s;

  width: 100%;

  background-color: #dedede;
  box-shadow: 0 0 24px #fff;
}

.input:focus {
  box-shadow: 0 0 48px #fff;
  transform: scale(105%);
}
